flask
flask-cors
ultralytics
numpy
librosa
scikit-learn
joblib
inference-sdk
flask-sqlalchemy 
flask-migrate  
google-generativeaitensorflow>=2.10
librosa>=0.10
numpy>=1.23
scikit-learn>=1.2
joblib>=1.2
soundfile>=0.12
flask>=2.3
flask-cors>=4.0
numpy>=1.23
opencv-python>=4.8
librosa>=0.10
tensorflow>=2.10
keras>=2.10
joblib>=1.2
roboflow>=1.1
